.btn-primary {
    width: 70%;
}

.btn-secondary {
    width: 30%;
}

.image-transform {
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.05);
    }
}
