<div class="edit-container">
    <form [formGroup]="routeForm" (ngSubmit)="onSaveRoute()">
        @if (routeForm.get(fields.ID)?.value !== null && routeForm.get(fields.ID)?.value > 0) {
            <p-tag value="{{ 'ROUTE_PAGE.SUB_TITLE' | translate }}{{ routeForm.get(fields.ID)?.value }}" />
        }
        <div class="form-stations">
            <div class="text-center">
                <div class="text-900 text-4xl font-medium mb-5">
                    {{ 'ROUTE_PAGE.FIELDS.STATIONS.NAME' | translate }}
                    <p-button
                        severity="success"
                        (click)="addStation()"
                        icon="pi pi-plus"
                        [rounded]="true"
                        [text]="true"
                        [raised]="true"
                    />
                </div>
                <div formArrayName="path">
                    @for (control of path.controls; track $index) {
                        <div [formGroupName]="$index" class="flex align-items-center mb-2 gap-2">
                            <p-dropdown
                                formControlName="city"
                                optionLabel="city"
                                optionValue="city"
                                [options]="stations"
                                placeholder="{{ 'ROUTE_PAGE.FIELDS.STATIONS.PLACEHOLDER' | translate }}"
                                class="w-full"
                                styleClass="w-full"
                                [showClear]="true"
                            />

                            <p-button
                                severity="danger"
                                icon="pi pi-trash"
                                [rounded]="true"
                                [text]="true"
                                [raised]="true"
                                (click)="removeStation($index)"
                            ></p-button>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="form-carriages">
            <div class="text-center">
                <div class="text-900 text-4xl font-medium mb-5">
                    {{ 'ROUTE_PAGE.FIELDS.CARRIAGES.NAME' | translate }}
                    <p-button
                        severity="success"
                        (click)="addCarriage()"
                        icon="pi pi-plus"
                        [rounded]="true"
                        [text]="true"
                        [raised]="true"
                    />
                </div>

                <div formArrayName="carriages">
                    @for (control of carriages.controls; track $index) {
                        <div [formGroupName]="$index" class="flex align-items-center mb-2 gap-2">
                            <p-dropdown
                                formControlName="name"
                                optionLabel="name"
                                optionValue="name"
                                [options]="carriageList"
                                placeholder="{{ 'ROUTE_PAGE.FIELDS.CARRIAGES.PLACEHOLDER' | translate }}"
                                class="w-full"
                                styleClass="w-full"
                                [showClear]="true"
                            />

                            <p-button
                                severity="danger"
                                icon="pi pi-trash"
                                [rounded]="true"
                                [text]="true"
                                [raised]="true"
                                (click)="removeCarriage($index)"
                            ></p-button>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="form-buttons flex gap-2">
            <p-button
                type="submit"
                [disabled]="routeForm.invalid"
                (click)="onSaveRoute()"
                label="{{ 'BUTTONS.SAVE' | translate }}"
                severity="primary"
            />
            <p-button (click)="onCancelEdit()" label="{{ 'BUTTONS.CANCEL' | translate }}" severity="secondary" />
        </div>
    </form>
</div>
