<div class="carriages grid">
    <div class="carriages__top col-12">
        <p-button
            class="text-center"
            styleClass="col-12 md:col-2"
            label="{{ 'ADMIN.CREATE_BTN' | translate }}"
            [disabled]="showForm()"
            (onClick)="handleCreateCarriage()"
        ></p-button>
    </div>
    @if (showForm()) {
        <div class="carriages__middle col-12">
            <app-carriage-create-form
                (discardCreateCarriage)="handleDiscardCreateCarriage()"
                (saveCarriage)="handleSaveCarriage($event)"
                (updateCarriage)="handleUpdateCarriage($event)"
                [mode]="formMode()"
            ></app-carriage-create-form>
            <div class="card">
                <p>{{ 'ADMIN.NAME' | translate }}: {{ formValue?.name }}</p>
                <p>
                    {{ 'ADMIN.COUNT_SEATS' | translate }}:
                    {{ countSeats }}
                </p>
                <app-carriage-view [carriage]="formValue"></app-carriage-view>
            </div>
        </div>
    }
    <div class="carriages__bottom col-12">
        <app-carriage-table [carriages]="carriages()" (editCarriage)="handleEditCarriage($event)"></app-carriage-table>
    </div>
</div>
