::ng-deep .p-tabview-nav-link[aria-selected='true'] {
    background-color: var(--surface-100);
}
::ng-deep .p-tabview-nav-link {
    margin: 0;
}

.data-wrapper {
    span {
        min-width: 105px;
        text-align: center;
    }
}
