<div class="admin-menu">
    <p-card header="{{ 'ADMIN_PAGE.HEADER_STATIONS' | translate }}" [style]="{ 'min-height': '750px' }">
        <ng-template pTemplate="header">
            <img
                alt="Stations"
                class="image-transform"
                (click)="navigateToStationsPage()"
                src="assets/images/admin/stations.png"
            />
        </ng-template>
        <p>
            {{ 'ADMIN_PAGE.TEXT_STATIONS' | translate }}
        </p>
        <ng-template pTemplate="footer">
            <div class="flex gap-3 mt-1">
                <p-button
                    label="{{ 'BUTTONS.OPEN' | translate }}"
                    (click)="navigateToStationsPage()"
                    class="w-full"
                    styleClass="w-full"
                />
            </div>
        </ng-template>
    </p-card>
    <p-card header="{{ 'ADMIN_PAGE.HEADER_CARRIAGES' | translate }}" [style]="{ 'min-height': '750px' }">
        <ng-template pTemplate="header">
            <img
                alt="Carriages"
                class="image-transform"
                (click)="navigateToCarriagesPage()"
                src="assets/images/admin/carriages.png"
            />
        </ng-template>
        <p>{{ 'ADMIN_PAGE.TEXT_CARRIAGES' | translate }}</p>
        <ng-template pTemplate="footer">
            <div class="flex gap-3 mt-1">
                <p-button
                    label="{{ 'BUTTONS.OPEN' | translate }}"
                    (click)="navigateToCarriagesPage()"
                    class="w-full"
                    styleClass="w-full"
                />
            </div>
        </ng-template>
    </p-card>
    <p-card header="{{ 'ADMIN_PAGE.HEADER_ROUTES' | translate }}" [style]="{ 'min-height': '750px' }">
        <ng-template pTemplate="header">
            <img
                alt="Routes"
                class="image-transform"
                (click)="navigateToRoutesPage()"
                src="assets/images/admin/routes.png"
            />
        </ng-template>
        <p>{{ 'ADMIN_PAGE.TEXT_ROUTES' | translate }}</p>
        <ng-template pTemplate="footer">
            <div class="flex gap-3 mt-1">
                <p-button
                    label="{{ 'BUTTONS.OPEN' | translate }}"
                    class="w-full"
                    (click)="navigateToRoutesPage()"
                    styleClass="w-full"
                />
            </div>
        </ng-template>
    </p-card>
</div>
