<div class="card">
    <p-table [value]="orders" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                @if (isAdmin()) {
                    <th>{{ 'ORDER.USER_EMAIL' | translate }}</th>
                }

                <th>{{ 'ORDER.FROM_STATION' | translate }}</th>
                <th>{{ 'ORDER.FROM_TIME' | translate }}</th>
                <th>{{ 'ORDER.TO_STATION' | translate }}</th>
                <th>{{ 'ORDER.TO_TIME' | translate }}</th>
                <th>{{ 'ORDER.DURATION' | translate }}</th>
                <th>{{ 'ORDER.CARRIAGE_TYPE' | translate }}</th>
                <th>{{ 'ORDER.CAR_NUMBER' | translate }}</th>
                <th>{{ 'ORDER.SEAT_NUMBER' | translate }}</th>
                <th>{{ 'ORDER.PRICE' | translate }}</th>
                <th>{{ 'ORDER.STATUS' | translate }}</th>
                <th style="width: 1rem"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-order>
            <tr>
                @if (isAdmin()) {
                    <td>
                        <div>{{ order?.user?.email }}</div>
                    </td>
                }

                <td>
                    <div>{{ (getStation(order.stationStart) | async)?.city }}</div>
                </td>
                <td>
                    <div>{{ order.startTime | date: 'MMMM dd HH:mm' | titlecase }}</div>
                </td>
                <td>
                    <div>{{ (getStation(order.stationEnd) | async)?.city }}</div>
                </td>
                <td>
                    <div>{{ order.endTime | date: 'MMMM dd HH:mm' | titlecase }}</div>
                </td>

                <td>
                    <div>{{ order.tripDuration }}</div>
                </td>
                <td>
                    <div>{{ order.carriageType }}</div>
                </td>
                <td>
                    <div>{{ order.carriageNumber }}</div>
                </td>
                <td>
                    <div>{{ order.seatInCarriage }}</div>
                </td>
                <td>
                    <div>{{ order.totalPrice | currency }}</div>
                </td>
                <td>
                    <div>{{ order.status }}</div>
                </td>
                @if (order.status === OrderStatus.ACTIVE) {
                    <td>
                        <p-button
                            severity="danger"
                            icon="pi pi-trash"
                            text="true"
                            (onClick)="handleDeleteOrder(order)"
                            [rounded]="true"
                            [text]="true"
                            [raised]="true"
                        ></p-button>
                    </td>
                } @else {
                    <td></td>
                }
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">{{ 'ORDER.NO_ORDER' | translate }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<app-delete-confirmation
    [visible]="deleteModalVisible"
    [routeId]="orderToDelete"
    [header]="'ORDER.DELETE_CONFIRMATION' | translate"
    [message]="
        ('ORDER.DELETE_CONFIRMATION_MESSAGE' | translate) +
        (isAdmin()
            ? ' ' +
              ('ORDER.DELETE_CONFIRMATION_MESSAGE_ADDITIONAL' | translate) +
              ' ' +
              nameUserToDeleteOrder +
              '. ' +
              ('ORDER.ORDER_ID' | translate) +
              ' ' +
              orderToDelete
            : '')
    "
    (confirm)="onConfirmDelete($event)"
    (cancel)="onCancelDelete()"
>
</app-delete-confirmation>
