<div class="card">
    <p-table [value]="orders" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>{{ 'ORDER.FROM' | translate }}</th>
                <th>{{ 'ORDER.TO' | translate }}</th>
                <th>{{ 'ORDER.DURATION' | translate }}</th>
                <th>{{ 'ORDER.CARRIAGE' | translate }}</th>
                <th>{{ 'ORDER.CAR_NUMBER' | translate }}</th>
                <th>{{ 'ORDER.SEAT_NUMBER' | translate }}</th>
                <th>{{ 'ORDER.PRICE' | translate }}</th>
                <th style="width: 1rem"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-order>
            <tr>
                <td>
                    <div>{{ order.path[0] }}</div>

                    <div>{{ order.schedule.segments[0].time[0] }}</div>
                </td>
                <td>
                    <div>{{ order.path[order.path.length - 1] }}</div>

                    <div>{{ order.schedule.segments[0].time[1] }}</div>
                </td>
                <td>
                    <p-button icon="pi pi-pencil" text="true" (onClick)="handleDeleteOrder(order)"></p-button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">{{ 'ORDER.NO_ORDER' | translate }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
