<div class="card flex flex-wrap justify-content-between overflow-auto">
    <p-tabView styleClass="tabview-custom">
        @for (currentCarriage of uniqueCarriagesInTrain()?.carriages; track currentCarriage) {
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <div class="flex flex-column align-items-center gap-2">
                        <p class="font-bold white-space-nowrap m-0">
                            {{ 'TRIP.TYPE_CARRIAGE' | translate }}: {{ currentCarriage }}
                        </p>
                        <p class="font-bold white-space-nowrap m-0">
                            {{ 'TRIP.AVAILABLE_SEATS' | translate }}:
                            {{ carriagesInfo() | getAvailableSeats: currentCarriage }}
                        </p>
                        <p class="font-bold white-space-nowrap m-0">
                            {{ 'TRIP.PRICE' | translate }}:
                            {{ carriagesInfo() | getCarriagePrice: currentCarriage | currency }}
                        </p>
                    </div>
                </ng-template>

                @for (carriage of carriagesInfo() | getCarriage: currentCarriage; track $index) {
                    <!-- <pre>
                      {{ carriage | json }}
                    </pre> -->
                    <div class="mb-4">
                        <p>{{ 'TRIP.CARRIAGE' | translate }} #{{ carriage.indexCarriage + 1 }}</p>
                        <p>
                            {{ 'TRIP.AVAILABLE_SEATS' | translate }}:
                            {{ carriage.availableSeats }}
                        </p>
                        <app-carriage-view
                            [numberOfCarriage]="carriage.indexCarriage + 1"
                            [startIndexSeats]="carriage.startIndexSeats"
                            [carriage]="carriage.carriage"
                            [price]="carriage.price"
                        ></app-carriage-view>
                    </div>
                }
            </p-tabPanel>
        }
    </p-tabView>
</div>
