<p-dialog [closable]="true" (onHide)="onCancel()" [(visible)]="visible" modal="true" header="{{ header }}  ">
    <p>{{ message }}</p>

    <p-footer>
        <div class="flex justify-content-between">
            <p-button label="{{ 'BUTTONS.CANCEL' | translate }}" icon="pi pi-times" (click)="onCancel()"></p-button>
            <p-button
                label="{{ 'BUTTONS.CONFIRM' | translate }}"
                icon="pi pi-trash"
                severity="danger"
                (click)="onConfirm()"
            ></p-button>
        </div>
    </p-footer>
</p-dialog>
