@if (rides && rides.schedule.length > 0) {
    @for (schedule of rides.schedule; track $index) {
        <div class="card">
            <div class="flex justify-content-between align-items-center mb-2">
                <h3>{{ 'RIDE_PAGE.TITLE' | translate }} {{ schedule.rideId }}</h3>
                <div class="flex justify-content-end align-items-center mb-2">
                    <p-button
                        icon="pi pi-trash"
                        severity="danger"
                        (click)="onDeleteRide(schedule.rideId)"
                        [rounded]="true"
                        [text]="true"
                        [raised]="true"
                        [disabled]="isTheRouteOverdue(schedule.segments[0].time[0])"
                    ></p-button>
                </div>
            </div>

            @for (path of rides.path; track $index) {
                <div class="ride-container">
                    <div class="city-container">
                        <b *ngIf="getStation(path) | async as station; else noStation">
                            <h3>{{ station.city }}</h3>
                        </b>
                        <ng-template #noStation>
                            <h3>
                                <b>{{ path }}</b>
                            </h3>
                        </ng-template>
                    </div>
                    <div class="time-container">
                        <app-ride-time-item
                            [index]="$index"
                            [schedule]="schedule"
                            [editTimeIndex]="editTimeIndex"
                            [selectedRideId]="schedule.rideId"
                            (editTimes)="onEditTimes($index, schedule)"
                            (saveTimes)="onSaveTimes($event)"
                            (cancelEdit)="onCancelEdit()"
                        ></app-ride-time-item>
                    </div>
                    <div class="prices-container"></div>
                </div>
                <div class="ride-container">
                    <div class="city-container"></div>
                    <div class="time-container"></div>
                    <div class="prices-container">
                        @if ($index !== schedule.segments.length) {
                            <app-ride-price-item
                                [index]="$index"
                                [schedule]="schedule"
                                [editPriceIndex]="editPriceIndex"
                                [selectedRideId]="schedule.rideId"
                                (editPrices)="onEditPrices($index, schedule)"
                                (savePrices)="onSavePrices($event)"
                                (cancelEdit)="onCancelEdit()"
                            ></app-ride-price-item>
                        }
                    </div>
                </div>
            }
        </div>
    }
} @else {
    <div class="card">
        <p-messages severity="warn" [closable]="false">
            <ng-template pTemplate>
                <span class="pi pi-exclamation-circle"></span>
                <div class="ml-2 align-items-center">
                    {{ 'ADMIN.NO_RIDE' | translate }}
                </div>
            </ng-template>
        </p-messages>
    </div>
}
<app-delete-confirmation
    [visible]="deleteModalVisible"
    [routeId]="rideToDelete"
    [header]="'RIDE_PAGE.DELETE_CONFIRMATION' | translate"
    [message]="'RIDE_PAGE.DELETE_CONFIRMATION_MESSAGE' | translate"
    (confirm)="onConfirmDelete($event)"
    (cancel)="onCancelDelete()"
>
</app-delete-confirmation>
