.result-container {
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    .result-details {
        display: flex;
        flex-direction: column;
        .route-details,
        .itinerary-travel {
            display: flex;
            gap: 10px;
            .from-details,
            .to-details {
                display: flex;
                flex-direction: column;
                gap: 5px;
                text-align: left;
            }
            .travel-time {
                width: 230px;
            }
        }
    }

    .available-carriages {
        display: flex;
        flex-wrap: wrap;
        .carriage-type-details {
            display: flex;
            flex-direction: column;
            gap: 20px;
            .carriage-type {
                display: flex;
                flex-direction: column;
                span {
                    text-align: center;
                    line-height: 25px;
                }
            }
            .price {
                text-align: center;
                font-size: 17px;
                font-weight: bold;
            }
        }
    }
}

.result-container:hover {
    border-width: 3px;
}

.time {
    font-size: 17px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .result-container {
        .result-details {
            .route-details {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                margin-bottom: 1rem;

                .travel-time {
                    &_wrapper {
                        width: 100%;
                        order: -1;
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }

        .itinerary-travel {
            justify-content: center;
        }
    }
}

@media screen and (max-width: 1199px) {
    .result-container {
        display: flex;
        flex-direction: column;

        .available-carriages {
            justify-content: center;
        }
    }
}
