.carriage-view {
    max-height: 500px;
    &::-webkit-scrollbar-track {
        border-radius: 4px;
    }
    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background: #f0f2f5;
    }
    &:hover::-webkit-scrollbar-thumb {
        background: #6a7d9b;
    }
}
